<%- include("partials/header.ejs") %>
  <div class="container">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Pest Detection</h1>
        <p class="col-lg-10 fs-4">Upload your image to detect pests</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form id="upload-form" action="/pest" method="POST" enctype="multipart/form-data"
          class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
          <input type="file" class="form-control" id="file-input" style="margin-bottom: 1rem" name="pInput" />
          <button class="w-100 btn btn-primary" type="submit">Upload</button>
        </form>
      </div>
      <% if (locals.prediction) { %>
        <div class="card text-bg-warning mb-3" style="max-width: 18rem;">
          <div class="card-header">Pest Prediction</div>
          <div class="card-body">
            <h5 class="card-title" id="predicted-class">
              <%= prediction.predicted_class %>
            </h5>
            <p class="card-text" id="confidence">
              <%= prediction.confidence %>
            </p>
          </div>
        </div>
        <% } %>
    </div>
  </div>
  <%- include("partials/footer.ejs") %>